@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --border-radius: 1.5vmin;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calculator {
  border-radius: var(--border-radius);
  background: rgb(50, 50, 50);
  width: 90vmin;
  height: 90vmin;
}

.calculator--top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  background-color: rgb(180, 180, 180);
  border-radius: var(--border-radius);
  height: 100%;
  gap: 3vmin;
  padding: 3vmin;
  transform: translateY(-1.5vmin);
}

.calculator__screen {
  grid-row: 1 / 3;
  border-radius: var(--border-radius);
  background: rgb(50, 50, 50);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.calculator__screen__operation--top,
.calculator__screen__result--top {
  font-size: 9.5vmin;
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1.5vmin;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgb(50, 50, 50);
  background: rgb(210, 156, 91);
  border: 0.4vmin solid rgb(50, 50, 50);
  transform: translateY(0.5vmin);
}

.calculator__screen__operation--top {
  border-bottom: none;
}

.calculator__screen__result--top {
  border-top: none;
}

.calculator__screen__operation--top {
  grid-row: 1 / 2;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.calculator__screen__result--top {
  grid-row: 2 / 3;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.calculator__buttons {
  grid-row: 3 / 8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5vmin;
}

/* From uiverse.io by @Voxybuns */
.calculator__buttons > * {
  font-size: 5vmin;
  /* Variables */
  --button_color: rgb(220, 220, 220);
  --button-sign_color: rgb(204, 210, 91);
  --button-utility_color: rgb(210, 97, 91);
  --button_outline_color: rgb(50, 50, 50);
  border: none;
  border-radius: var(--border-radius);
  background: var(--button_outline_color);
}

/* Floating point button */
.calculator__buttons__float {
  font-size: 1vmin;
}

.calculator__buttons__undo--utility {
  grid-column: 4 / 5;
}

.calculator__buttons__add--sign {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

.calculator__buttons__equals--sign {
  grid-column: 3 / 5;
}

.calculator__buttons > * > [class$="--top"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 0.4vmin solid var(--button_outline_color);
  border-radius: var(--border-radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  transition: transform 0.1s ease;
  transform: translateY(-0.5vmin);
}

.calculator__buttons > *:hover [class$="--top"] {
  transform: translateY(-0.8vmin);
}
.calculator__buttons > *:active [class$="--top"] {
  transform: translateY(-0.3vmin);
}

.calculator__buttons > * > [class$="--sign--top"] {
  background: var(--button-sign_color);
  color: var(--button_outline_color);
}

.calculator__buttons > * > [class$="--utility--top"] {
  background: var(--button-utility_color);
  color: var(--button_outline_color);
}

.calculator__buttons--active {
  background: rgb(70, 70, 70);
  color: rgb(220, 220, 220);
}
