@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.calculator {
  margin: 5vh auto;
  border-radius: 1.25vh;
  background: rgb(50, 50, 50);
  height: 90vh;
  aspect-ratio: 3/4;
}

.calculator--top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 2.5vh;
  padding: 2.5vh;
  background-color: rgb(180, 180, 180);
  border-radius: 1.25vh;
  height: 100%;
  transform: translateY(-0.6vh);
}

.calculator__screen {
  grid-row: 1 / 3;
  border-radius: 1.25vh;
  background: rgb(50, 50, 50);
}

.calculator__screen--top {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: right;
  align-items: flex-end;
  font-size: 10vh;
  padding: 1vh;
  border: 0.3vh solid rgb(50, 50, 50);
  border-radius: 1.25vh;
  background: rgb(210, 156, 91);
  color: rgb(50, 50, 50);
  transform: translateY(0.6vh);
}

.calculator__buttons {
  grid-row: 3 / 8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1vh;
}

/* From uiverse.io by @Voxybuns */
.calculator__buttons > * {
  font-size: 5vh;
  /* Variables */
  --button_radius: 1.25vh;
  --button_color: rgb(220, 220, 220);
  --button-sign_color: rgb(204, 210, 91);
  --button-utility_color: rgb(210, 97, 91);
  --button_outline_color: rgb(50, 50, 50);
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.calculator__buttons__delete--utility {
  grid-column: 4 / 5;
}

.calculator__buttons__add--sign {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

.calculator__buttons__float {
  font-size: 1vh;
}

.calculator__buttons__equals--sign {
  grid-column: 3 / 5;
}

[class^="calculator__buttons"][class$="--top"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 0.3vh solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.6vh);
  transition: transform 0.1s ease;
}

[class^="calculator__buttons"][class$="--sign--top"] {
  background: var(--button-sign_color);
  color: var(--button_outline_color);
}

[class^="calculator__buttons"][class$="--utility--top"] {
  background: var(--button-utility_color);
  color: var(--button_outline_color);
}

.calculator__buttons > *:hover [class$="--top"] {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.9vh);
}

.calculator__buttons > *:active [class$="--top"] {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.calculator__buttons--active {
  background: rgb(70, 70, 70);
  color: rgb(220, 220, 220);
}
